body.wp-admin .catapost-field {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	margin: 0 -11px 0 -15px;
	
	&:first-child {
		border-top: none;
	}
	
	&:last-child {
		border-bottom: none;
	}
}

.catapost-field {
	padding: 15px 11px 11px 15px;
	position: relative;
	
	&:last-child {
		padding-bottom: 0;
	}
	
	p.label {
		color: #666;
		font-size: 11px;
		line-height: 1.1em;
		margin: 0 0 1em;
		padding: 0;
		text-shadow: 0 1px 0 white;
		label {
			color: #333;
			display: block;
			font-size: 13px;
			font-weight: bold;
			margin: 0 0 3px;
			padding: 0;
			vertical-align: text-bottom;
		}
	}
	
	select {
		padding: 2px;
		resize: none;
		width: 100%;
	}
	
	input[type="text"],
	input[type="password"],
	textarea {
		padding: 5px 0;
		resize: none;
		width: 100%;
	}
	
	textarea {
		resize: vertical;
	}
	
	.checkbox_list,
	.radio_list, {
		li:last-child {
			margin: 0;
		}
		li {
			padding-left: 1px;
		}
	}
}

.catapost-uploader {
	&.active .no-file,
	.has-file {
		display: none;
	}
	
	&.active .has-file,
	.no-file {
		display: block;
	}
	.preview,
	.file-icon {
		float: left;
	}
	
	ul {
		float: left;
		margin: 0;
		padding: 0 0 0 14px;
		
		.file-name {
			font-weight: bold;
		}
	}
}

.catapost-field-slider {
	.ui-slider {
		float: left;
		margin: 11px 0 0;
		width: 90%; height: 4px;
	}
	
	.ui-slider .ui-slider-handle {
		height: 10px
	}
	
	input {
		float: right;
		width: 8% !important;
	}
}

.front-end-form #submit {
	float: right;
	margin: 15px 11px 30px 15px;
}

#ui-datepicker-div {
	display: none;
} 